@font-face {
    font-family: 'Raleway', sans-serif;
}


#bloc-page
{
    width: 1440px ;
    height: 1884px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header
{
    height: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-top: -1.65%;
}
#logo-reservia
{
    margin-top: 2%;
    width: 6%;
}

nav ul
{
    font-family:'Raleway';
    font-weight: thin;
    width: 400px; 
    display: flex;
    justify-content: space-around;
    margin-left: -20%;
}

ul
{
    list-style: none;
    font-weight: 500;
}

#hebergement
{
   color:rgb(64, 139, 253);
   text-decoration: none;
   border-top:rgb(0, 101, 252) 2.5px solid;
   padding-top: 1.9em;
   padding-left: 1.2em;
   padding-right: 1.2em;
}

#Placement-h2-section3
{
    color:rgb(16, 16, 16);
    text-decoration: none;
}

#sinscrire
{
    color: rgb(64, 139, 253);
    font-weight: 600;
    text-decoration: none;
}

h1
{
    font-family: 'Raleway';
    font-weight: 800;
    margin-bottom: 0.2em;
    margin-top: 0px;
}

p
{
    font-family: 'Raleway';
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0.2em;
}

.elements-en-police-legere
{
    font-family: 'Raleway';
    font-weight: 400;
}
#section1
{
    width: 96%;
    margin-left: 2%;
}

#bullederecherche
{
    width: 100%;
    height: 2.7em;
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
}

.icone-map
{
    color: black;
    background-color: rgb(242, 242, 242);
    border:rgb(242, 242, 242) solid 2px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0.63em 01em 0.82em 1.2em;
}

#recherche
{
    color: white;
    border: solid rgb(0, 101, 252) 2px;
    background-color: rgb(0, 101, 252);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-left: 0px;
    padding: 0.6em 1em 0.73em 0.8em
}

input, ::placeholder
{
    color: black;
    font-family: 'Raleway';
    font-weight: 800;
    font-weight: bold;
    height: 100%;
    margin-right:-0.5em ;
    margin-left: -0.5em;
    padding-left: 2%;
}


.icone-grisee
{
    color: rgb(217, 217, 217);
}

#presentation_filtres
{
    font-family: 'Raleway';
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 2em;
    width: 70%;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.agencement-filtres
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgb(242, 242, 242) solid 2px;
    border-radius: 25px;
    padding-right: 1em;
}

.police-des-filtres
{
    font-family: 'Raleway';
    font-weight: 800;
}

.icone
{
    background-color: rgb(222, 235, 255);
    border-radius: 50%;
    padding: 0.89em 0.79em;
}

#filtre_economique
{
   
    width: 15.9%; 
}
#filtre_economique:hover
{
    background-color: cornflowerblue;
}

#filtre_family
{
    width: 11.2%;
}
#filtre_family:hover
{
    background-color: cornflowerblue;
}

#filtre_romantic
{
    width: 15.2%;
}
#filtre_romantic:hover
{
    background-color: cornflowerblue;
}

#filtre_animals
{
    width: 20.6%;
}
#filtre_animals:hover
{
    background-color: cornflowerblue;
}

i
{
    color:rgb(0, 101, 252);
}
.icone-information-section1
{
    border: rgb(242, 242, 242) solid 2px;
    border-radius: 50%;
    margin-right: 1em;
    padding: 0.2em 0.5em;
}

#section2
{
    display: flex;
    height: 34.3%;
}

#placement-h2-section2
{
    margin-top: 5%;
    margin-left: 4%;
}

#groupe-de-vignettes-article1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 61%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
    margin: auto;
}

.vignettes-article1
{
    width: 27%;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 0.3em;
    background-color: white;
}

.photologement
{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

figcaption
{
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.positionnement-h3-article1
{
    margin-top: 5%;
    margin-bottom: 1%;
}

.positionnement-etoiles-article1
{
    margin-top: 4%;
    margin-bottom: 3%;
}

#positionnement-texte-article1
{
    width: 100%;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 3.4%;
}

h2
{
    font-family: 'Raleway';
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 2%;
    margin-bottom: 0%;
}

h3
{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1em;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-right: 9%;
}

aside
{
    background-color: rgb(242, 242, 242);
    width: 33.2%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}

#placement-titre-aside
{
    width: 80%;
    margin-bottom: 0%;
}

#icone-titre-aside
{
    color: black;
}

.vignettes-aside
{
    background-color: white;
    display: flex;
    border-radius: 20px;
    width: 80%;
    padding: 0.3em;
    margin-bottom: 3.3% ;
}

.photos-vignettes-aside
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.positionnement-etoile-aside
{
    margin-top: 2.5em;
}

#section3
{
    width: 100%;
    height: 28%;
}

#articleactivites
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.groupe-vignettes-1-4
{
    width: 300px;
    height: 436px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(242, 242, 242);
    
}
#vignette-photo1
{
    margin-left: 2%;
    margin-right: 1%;
}

#vignette-photo4
{
    margin-left: 5%;
}

.groupe-vignettes-2-3
{
    width: 300px;
    margin-left: 14%;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(242, 242, 242);
}

#vignette-photo-2
{
    height: 232px;
}

#vignette-photo-3
{
    height: 163.6px;
    margin-top: 2.6em;
    margin-right: 16%;
}

.groupe-vignettes-5-6
{
    width: 300px;
    height: 190.9px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(242, 242, 242);
    margin-left: 6%;
}

#vignette-photo-6
{
    margin-top: 3.3em;
}

.photosactivites
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.grande-photo
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 87.5%;
    width: 100%;
}


footer
{
    font-family: 'Raleway';
    font-style: normal;
    height: 11.8%;
    padding-top: 2.5%;
    background-color: rgb(242, 242, 242);
}

#description_footer
{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.mentionslegales
{
    font-weight: bold;
}

li
{
    margin-top: 10%;
}