@font-face 
{
    font-family: 'Raleway', sans-serif;
    src: url ("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;600;800&display=swap") format("ttf");}

body
{
    margin:0%;
    overflow-x: hidden;
}

#bloc-page
{
    width:100%;
    display: flex;
    flex-direction: column;
}

img
{
   object-fit: cover; 
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0.4%;
    margin-bottom: 3%;
}

#logo-reservia
{
    margin-top: 15px;
    width: 86px;
    margin-left: 0%;
}
 nav
 {
    width:36%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
 }

nav ul
{
    font-family:'Raleway';
    width: 100%; 
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
}

ul
{
    list-style: none;
    font-weight: 500;
}

#Placement-h2-section3
{
    color:rgb(16, 16, 16);
    text-decoration: none;
    margin-left: 6%;
    margin-bottom: 1%;
}

#activite
{
    color: black;
    text-decoration: none;
}

#hebergement
{
    color: #0065FC;
    text-decoration: none;
    border-top: #0065FC 2.5px solid;
    padding-top: 3.25vw;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

#inscription
{
    color: #0065FC;
    font-weight: 600;
    text-decoration: none;
    margin-left: 0%;
}

h1
{
    font-family: 'Raleway';
    font-weight: 800;
    margin-bottom: 0.2em;
    margin-top: 0px;
}

p
{
    font-family: 'Raleway';
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0.2em;
    font-size: 0.7em;
}

.elements-en-police-legere
{
    font-family: 'Raleway';
    font-weight: 400;
}

/*Fin de la partie Header*/

#section1
{
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
}


#bullederecherche
{
    width: 100%;
    height: 2.7em;
    margin-top: 1.5%;
}

.icone-map
{
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0.79em 01em 0.85em 1.2em;
}

#recherche
{
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-left: 0px;
    padding: 0.71em 1em 0.8em 0.8em;
}

#icone-loupe
{
    color: white;
    background-color:#0065FC;
    margin-left: -2%;
    padding: 6%;
    border-radius: 11px;
    margin-right: -2%;
    padding-left: 4%;
    padding-right: 3%;
    padding-bottom: 14px;
    padding-top: 13px;
    display: none;
}

input, ::placeholder
{
    color: black;
    font-family: 'Raleway';
    font-weight: 800;
    font-weight: bold;
    height: 3.2em;
    margin-right: -0.5em;
    margin-left: -0.5em;
    padding-left: 2%;
}


.icone-grisee
{
    color: #F2F2F2;
}

#presentation_filtres
{
    font-family: 'Raleway';
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 2em;
    width: 100%;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.agencement-filtres
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #F2F2F2 solid 2px;
    border-radius: 25px;
    padding-right: 1em;
}

#element-filtre
{
    font-family: 'Raleway';
    font-weight: 800;
}

.police-des-filtres
{
    font-family: 'Raleway';
    font-weight: 800;
    padding-left: 5%;
}

.icone
{
    background-color: #F2F2F2;
    border-radius: 50%;
    padding: 0.89em 0.79em;
}

#filtre_economique
{
    width: 111px; 
}
#filtre_economique:hover
{
    background-color: #DEEBFF;
}

#filtre_family
{
    width: 80px;
}
#filtre_family:hover
{
    background-color: #DEEBFF;
}

#filtre_romantic
{
    width: 107px;
}
#filtre_romantic:hover
{
    background-color: #DEEBFF;
}

#filtre_animals
{
    width: 152px;
    margin-right:30%;
}
#filtre_animals:hover
{
    background-color: #DEEBFF;
}

i
{
    color:#0065FC;
}
.icone-information-section1
{
    border: #F2F2F2 solid 2px;
    border-radius: 50%;
    margin-right: 1em;
    padding: 0.2em 0.5em;
}

#texte-sous-les-filtres
{
    display: flex;
    align-items: center;
}

#section2
{
    display: flex;
    height: 51%;
    margin-left: 4%;
    margin-right: 4%;
}

#placement-h2-section2
{
    margin-left: 4%;
    margin-bottom: 1%;
    margin-top: 8%;
    margin-left: 4%;
    margin-right: 4%;
}

#groupe-de-vignettes-article1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin: auto;
    margin-top: auto;
    margin-top: 0%;
    padding-bottom: 4.1%;
}

.vignettes-article1
{
    width: 27%;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 0.3em;
    background-color: white;
}

.photologement
{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

figcaption
{
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.positionnement-h3-article1
{
    margin-top: 5%;
    margin-bottom: 1%;
}

.positionnement-etoiles-article1
{
    margin-top: 4%;
    margin-bottom: 3%;
}

#positionnement-texte-article1
{
    width: 100%;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 3.4%;
}

h2
{
    font-family: 'Raleway';
    font-weight: 800;
    width: 100%;
    margin-left: 2%;
    margin-bottom: 0%;
}

h3
{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 0.7em;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-right: 9%;
}

aside
{
    background-color: #F2F2F2;
    width: 36.7%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 3%;
}

#placement-titre-aside
{
    width: 80%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    margin-top: 14%;
    margin-left: 0%;
}

#icone-titre-aside
{
    color: black;
}

#ensemble-des-vignettes-aside
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.vignettes-aside
{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 20px;
    width: 80%;
    padding: 0.3em;
    margin-bottom: 6%;
    margin-top: 0%;
}

a
{
    width: 35%;
}
.photos-vignettes-aside
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 78%;
    height: 100%;
}

.positionnement-etoile-aside
{
    margin-top: 24%;
}

.positionnement-legende-aside
{
    display:flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
    width:43%;
}


/* Début SECTION 3  */

#section3
{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 4%;
    height: 532px;
}

#articleactivites
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.groupe-vignettes-1-4
{
    width: 25%;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
}
#vignette-photo1
{
    margin-left: 4%;
    margin-right: 4%;
    width: 25%;
    height: 452px;
}

#vignette-photo4
{
    margin-left: 0%;
    margin-right: 4%;
    height: 452px;
}

.regroupement-de-vignettes
{
    width:25%;
    margin-right:4%;
}

.groupe-vignettes-2-3
{
    width: 100%;
    margin-left: 0%;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
    height: 29%;
}
#vignette-photo-2
{
    height: 261px;
}

#vignette-photo-3
{
    margin-top: 35px;
    margin-right: 0%;
    height: 156px;
}

.groupe-vignettes-5-6
{
    width: 100%;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
    margin-left: 0%;
    height: 26.1%;
}
#vignette-photo-5
{
    width: 100%;
    height: 208px;
    margin-top: 15px;
}

#vignette-photo-6
{
    width: 100%;
    height: 208px;
    margin-top: 38px;
}

.photosactivites
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 93px;
}

.grande-photo
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 390px;
    width: 100%;
}
#photo-2-activite
{
    height: 205px;
}

#photo-5-activite
{
    height:150px;
}

#photo-6-activite
{
    height:146px;
}

footer
{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 0.7em;
    padding-top: 2.5%;
    background-color: #F2F2F2;
    padding-bottom: 4%;
    margin-top: 1%;
}

#description_footer
{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.mentionslegales
{
    font-weight: bold;
    margin-top: 0%;
}

li
{
    margin-top: 10%;
}

@media all and (min-width: 320px) and (max-width: 495px) 

{
    body
    {
        margin: 0%;
    }

    #bloc-page
    {
        height: auto;
        width: 100%;
    }
    img
    {
        object-fit: cover;
    }  
    
    header
    {
        margin-top: -6%;
        margin-left: 2%;
        width:100%;
    }

    #logo-reservia
    {
        width: 25%;
    }
    nav
    {
        width: 74%;
        margin-top: -4%;
    }

    nav ul
    {
        width: 100%;
        flex-wrap: wrap-reverse;
        margin-top: 2%;
    }

    ul
    {
        flex-wrap: wrap;
        width: 100%;
        margin-left: -20%;
        margin-bottom: 6%;
    }

    #hebergement 
    {
        border-bottom: #0065FC 2.5px solid;
        border-top: none;
        padding-bottom: 10%;
        margin-left: -125%;
        padding-left: 33%;
        padding-right: 20%;
    }
    
    #activite
    {
        margin-left: -76%;
    }

    #inscription
    {
        margin-left: 100%;
    }

    #section1
    {
        margin-top: 13%;
        margin-bottom: 13%;
        width:95%;
    }
    
    h1
    {
        margin-bottom: 4%;
        font-size:1em;
    }

    h2
    {
        font-size: 1em;
    }

    #bullederecherche {
        margin-top: 11.5%;
        margin-bottom: 11.5%;
    }
    #recherche
    {
        display: none;
    }

    #icone-loupe 
    {
        display:inline-block;
    }
    #presentation_filtres
    {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 56%;
    }
    #element-filtre
    {
        width: 100%;
        margin-bottom: 3%;
        margin-left: 1%;
    }
        
    .police-des-filtres
    {
        width: 100%;
    }

    #filtre_economique
    {
        width: 140px;
        margin-bottom: 4%;
        padding-right: 5%;
    }
    
    #filtre_family
    {
        width: 97px;
        margin-bottom: 4%;
    }

    #filtre_romantic 
    {
        width: 134px;
        margin-bottom: 4%;
        padding-right: 5%;
        margin-right: 9%;
    }
    
    #filtre_animals 
    {
        width: 210px;
        padding-right: 1%;
        margin-left: 0%;
        margin-right: 11%;
    }
    
    #section2 
    {
        flex-direction: column-reverse;
        margin-left: 0%;
        margin-right: 0%;
    }

    #groupe-de-vignettes-article1
    {
        height: auto;
        width: 100%;
        margin-bottom: 0%;
        margin-top: 4%;
        background-color: white;
    }
    
    .vignettes-article1 
    {
        width: 89%;
        height: 190px;
        box-shadow: 6px 13px 18px rgb(242 242 242);
        margin-top: 4%;
        margin-left:5%;
    }

    .photologement
    {
        height: 60%;
    }
    #placement-h2-section2

    {
        margin-top: 8%;
        margin-left:7%;
    }

    .positionnement-h3-article1
    
    {
        margin-top: 1%;
        margin-bottom: 0%;
    }

    .positionnement-etoiles-article1
    {
        margin-top: 1%;
    }

    #positionnement-texte-article1
    {
        width:89%;
        margin-left:7%;
    }

    aside 
    {
        width: 92%;
        padding-bottom: 9%;
        margin-top: -2%;
        margin-left: 5%;
        align-items: center;
    }
    #ensemble-des-vignettes-aside 
    {
        width: 90%;
        margin-left: 0%;
    }

    .vignettes-aside 
    {
        width: 90%;
    }

    #placement-titre-aside 
    {
        margin-bottom: 2%;
        display: flex;
        justify-content: space-between;
        margin-top: 12%;
        font-size: 1em;
        margin-left: 0%;
        width: 90%;
    }

    #section3
    {
        margin-top: 4%;
        margin-bottom: 17%;
        height: auto;
        margin-right: 4%;
        margin-left: 4%;
    }

    #articleactivites
    {
        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #Placement-h2-section3
    {
        margin-left: 3%;
    }

    h3
    {
        margin-top: 3%;
    }
    .groupe-vignettes-1-4
    {
        padding: 0px;
        margin: 2%;
    }

    .grande-photo 
    {
        height: 76%;
        width: 100%;
    }

    .photosactivites
    {
        width: 100%;
        height: 76%;
    }

    #photo-2-activite
    {
        height: 76%;
    }

    #vignette-photo1
    {
        width: 89%;
        height: 190.3px;
        margin-left: 3%;
        margin-right: 0%;
    }

    #vignette-photo-2
    {
        width: 92%;
        height: 190.3px;
        margin-left: 0%;
        margin-right: 2%;
    }

    #vignette-photo-3 
    {
        height: 190.3px;
        margin-top: 2%;
        width: 92%;
        margin-bottom: 3%;
        margin-right: 4%;
        margin-left: 1%;
    }

    #vignette-photo4
    {
        width: 89%;
        height: 190.3px;
        margin-top: 3%;
        margin-left: 2%;
    }
    
    .groupe-vignettes-5-6
    {
        width: 92%;
        margin-top: 13%;
        margin-left: 3%;
        margin-right: 4%;
    }

    #vignette-photo-5
    {
        width: 92%;
        margin-bottom: -5%;
        margin-left: 4%;
        margin-right: 8%;
    }
    
    #vignette-photo-6 
    {
        width: 92%;
        margin-top: 13%;
        margin-left: 0%;
        margin-right: 4%;
    }

    .regroupement-de-vignettes
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 96%;
    }

    footer
    {
        width:100%;
    }

    #description_footer
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2%;
    }

    li
    {
        margin-left: 11%;
        margin-bottom: -10%;
        margin-top: 19%;
    }

    .positionnement-elements-liste-footer
    {
        margin-top: 4%;
        margin-bottom: 1%;
    }

    .mentionslegales 
    {
        margin-bottom: 6%;
        margin-top: 0%;
    }
}

@media all and (min-device-width: 496px) and (max-device-width: 1025px)
{
   
    body
    {
        margin:8px;
    }
        
    header
    {
        width: 94%;
        margin-top:16px;
        margin-left: 4%;
    }

    #logo-reservia
    {
        width: 75px;
        margin-left: 0%;
        margin-top:2%;
    }

    nav
    {
        width: 40%;
    }

    nav ul
    {
        position: absolute;
        bottom: 90%;
        left: 56%;
        width: 29%;
        font-size: 0.7em;
        justify-content: flex-end;
    }

    #hebergement 
    {
        padding-bottom: 10%;
        padding:0px;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    
    #activite
    {
        margin-left: 10px;
    }

    #inscription
    {
        margin-left: 10px;
    }

/*Fin de la partie header*/

    #section1
    {
        width:83%;
        margin-top: 7%;
    }

    #bullederecherche 
    {
        margin-top: 2.5%;
        margin-bottom: 4.5%;
    }

    #presentation_filtres
    {
        width: 85%;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    #element-filtre
    {
        width: 100%;
        margin-bottom: 2%;
        margin-left: 1%;
    }
        
    .police-des-filtres
    {
        width: 100%;
    }

    .agencement-filtres
    {
        flex-direction: row;
    }

    #filtre_economique
    {
        width: 111px;
        margin-left: 0%;
        margin-right: 0%;
    }

    #filtre_family
    {
        width: 80px;
        margin-left: 0%;
        margin-right: 27%;
    }

    #filtre_romantic 
    {
        width: 151px;
        margin-left: 0%;
        margin-top: 4%;
        padding-right: 4%;
        margin-right: 83%;
    }

    #filtre_animals 
    {
        width: 164px;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 4%;
        padding-right: 0%;
    }

/*Fin de la section 1*/

    #section2 
    {
        flex-direction: column;
        height: auto;
    }

    #groupe-de-vignettes-article1
    {
        width: 100%;
        margin-top: 2%;
        background-color: white;
    }

    #placement-h2-section2 
    {
        margin-top: 2%;
        margin-bottom: 0%;
        margin-left: 3.4%;
        margin-right: 0%;
    }

    .vignettes-article1 
    {
        width: 43%;
        box-shadow: 6px 13px 18px rgb(242 242 242);
        margin-top: 5%;
        margin-bottom: 0%;
        margin-right:3%;
        margin-left:1%;
    }

    .photologement
    {
        height: 60%;
    }

    .positionnement-h3-article1
    {
        margin-top: 1%;
        margin-bottom: 0%;
        margin-right: 1%;
    }

    .positionnement-etoiles-article1
    {
        margin-top: 1%;
    }

    #positionnement-texte-article1 
    {
        margin-top: 3%;
        margin-left: 2.8%;
    }

/* Début Aside */

    aside 
    {
        width: 96%;
        margin-right: 1.5%;
        margin-left: 1%;
        padding-top: 5%;

    }

    .vignettes-aside
    {
        width: 83%;
    }

    #placement-titre-aside 
    {
        width: 83%;
    }

    .photos-vignettes-aside
    {
        width: 100%;
        height: 100%;
    }

    .positionnement-legende-aside
    {
        margin-left: 11%;
    }

    .positionnement-h3-aside
    {
        margin-right: 0%;
        margin-top: 4%;
    }

    .positionnement-etoile-aside
    {
        margin-top: 42%;
    }
    
    #positionnement-etoile2-aside 
    {
    margin-top: 25%;
    }

    #section3
    {
        margin-top: 4%;
        margin-bottom: 2%;
        height: auto;
    }

    #Placement-h2-section3
    {
        margin-left: 5%;
        width:95%;
    }
    #articleactivites
    {
        width:100%;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    #vignette-photo1
    {
        width: 42%;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 0%;
        margin-left: 5%;
        height: 444px;
    }

    .regroupement-de-vignettes
    {
        width: 42%;
        margin-left: 4%;
        margin-bottom: 0%;
    }

    .groupe-vignettes-2-3
    {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0%;
    }

    #vignette-photo-2
    {
        margin-bottom: 21px;
        margin-top: 0%;
        margin-left: 0%;
        height: 247px;
    }

    #vignette-photo-3 
    {
        height: 160px;
        margin-top: 38px;
        margin-left: 0%;
        padding-bottom: 0%;
    }

    #vignette-photo4
    {
        width: 42%;
        margin-left: 5%;
        margin-top: 0%;
        margin-right: 0%;
    }


    .groupe-vignettes-5-6
    {
        width: 100%;
    }

    #vignette-photo-5
    {
        width: 100%;
        height: 200px;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0%;
        padding-bottom: 3%;
    }

    #vignette-photo-6 
    {
        margin-top: 38px;
        padding-bottom: 1%;
        height: 205px;
    }

    .grande-photo 
    {
        height: 87.5%;
        width: 100%;
    }

    #photo-2-activite
    {
        height: 78%;
    }
    .photosactivites
    {
        width: 100%;
        height: 64%;
    }

    #photo-6-activite
    {
        height: 150px;
    }    
    
    footer
    {
        padding-bottom: 3%;
        width: 99%;
    }

    #description_footer
    {
        flex-direction: column;
        width:100%;
    }

    li
    {
        margin-left: 0%;
        margin-bottom: 6%;
        margin-top: 19%;
    }

    .mentionslegales 
    {
        margin-bottom: 0%;
        margin-top: 0%;
    }

    .positionnement-elements-liste-footer
    {
        margin-bottom: 0;
        margin-top: 2%;
    }
}
